<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]> <html class="ie10" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]> <html lang="en"> <![endif]-->
<html style="" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title id="">Jovial</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  
		<meta name="title" content="">
		<meta name="description" content="">
		<meta name="keywords" content="">
	    <meta property="og:locale" content="en_US">
		<meta property="og:url" content="">
		<meta property="og:title" content="">
		<meta property="og:description" content="">
		<meta property="og:image" content="">
		<meta property="og:image:secure_url" content="">
	    <meta property="og:site_name" content="">
		<meta name="twitter:url" content="">
		<meta name="twitter:card" content="japps">
		<meta name="twitter:creator" content="japps">
		<meta name="twitter:site" content="">



	    <meta name="robots" content="index, follow">
	    <meta name="author" content="japps">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<link rel="canonical" href="">
		<link rel="icon" type="image/png" sizes="192x192" href="">
		<link rel="icon" type="image/png" sizes="32x32" href="">
		<link rel="icon" type="image/png" sizes="96x96" href="">
		<link rel="icon" type="image/png" sizes="16x16" href="">
		<meta name="msapplication-TileColor" content="#00bfff">
		<meta name="msapplication-TileImage" content="/ico/ms-icon-144x144.png">
		<meta name="theme-color" content="#00bfff">
		
	    <!-- Bootstrap core CSS -->
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
		<link type="text/css" rel="stylesheet" href="/css/bootstrap-grid.css">
		<link type="text/css" rel="stylesheet" href="/css/style.css">
		<link type="text/css" rel="stylesheet" href="/css/001.css">
		<link type="text/css" rel="stylesheet" href="/css/animate.min.css">
		<link type="text/css" rel="stylesheet" href="/css/font-awesome.css">
		<link type="text/css" rel="stylesheet" href="/ionicon/css/ionicons.min.css" />

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->

       
</head>
<body>
<div class="bg"></div>
<div class="header-container">
	<div class="header-hamburger" id="headerHamburger">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="globalnav-container">
		<a href="" class="globalnav-ghost-icon-link">
			<img src="/img/94fd767f257b.png" alt="" style="height:64px;"/>
		</a>
		<div class="globalnav-item globalnav-home-link">
			<a class="globalnav-link" href="">Home</a>
		</div>
		<div class="globalnav-item globalnav-geofilters-link">
			<a class="globalnav-link" href="">ABOUT US</a>
		</div>
		<div class="globalnav-item globalnav-snapcodes-link">
			<a class="globalnav-link" href="">SUPPORT</a>
		</div>
		<div class="globalnav-item globalnav-snapcodes-link">
			<a class="globalnav-link" href="">BLOG</a>
		</div>
		<div class="globalnav-item globalnav-ads-link">
			<a class="globalnav-link" href="">TERMS</a>
		</div>
		<div class="globalnav-item globalnav-snapcodes-link">
			<a class="globalnav-link" href="">API</a>
		</div>
		<div class="globalnav-item globalnav-download-link">
			<a class="globalnav-link" href="">DOWNLOAD</a>
		</div>
	</div>
</div>

<div class="space-lg"></div>
<div class="space-lg"></div>

<div class="container">
	<div class="row">
		<div class="col-md-5 hidden-sm-down offset-2 mockup col-sm-12">
			<img src="/images/mockup.fw.png">
		</div>
		<div class="col-md-4 col-sm-12">
			<form id="" class="authForm text-center">
				<h1>Jovial</h1>
				<p>Sign up to see photos videos from fellow corpers</p>
				<button><i class="fa fa-facebook-official"></i> Log in with facebook</button>
				
				<div class="or">
					<div class="orShort"></div>
					<p>OR</p>
					<div class="orShort"></div>
				</div>
				
				<input type="text" id="" placeholder="Mobile or Email">
				<input type="text" id="" placeholder="Fullname">
				<input type="text" id="" placeholder="Username">
				<input type="text" id="" placeholder="Password">
				
				<button style="background-color:#87CB16">Sign up</button>
				<p class="terms">By signing up, you agree to our<br> <a href="#">Terms</a> & <a href="#">Privacy Policy</a></p>
				
			</form>
			<div class="authForm text-center">
				<p class="loginOption"> Have an account? <a href="#">Log in</a></p>
			</div>
		</div>
	</div>
</div>
<div class="appearFooter hide">
	<div class="close"><i class="fa fa-times-circle"></i></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-3">
				<img src="/images/ui.fw.png" class="img-fluid">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6 text-center">
				<p>
					Hi! We use cookies on this website to help operate our site and for analytics purposes. For more on how we use cookies and your cookie choices, go here! By continuing to use our services, you are giving us your consent to use cookies.
				</p>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3"></div>
		</div>
	</div>
</div>
</body>
</html>