* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

* a {
    text-decoration: none;
    color:inherit;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

a:hover, a:focus { text-decoration: none; }

textarea:focus, input:focus, a:focus, a:visited, *:focus { outline: none; }

iframe { border: none; }

img { max-width: 100%; height: auto; -webkit-backface-visibility: hidden;}

body {
    margin:0;
    padding:0;
    background-color:#FDFDFE;
    font-size: 13px;
    font-family: 'Helvetica Neue','Roboto',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.br {
	border:solid 1px #000;
}
.space,
.space-sm,
.space-md,
.space-lg {
    display: block;
    float: none;
    clear: both;
}
.space-sm {
    padding-top: 15px;
}
.space-md {
    padding-top: 20px;
}
.space {
    padding-top: 30px;
}
.space-lg {
    padding-top: 50px;
}


 .header-container {
	position: fixed;
	width: 100%;
	font-size: 14px;
	background-color: #ffffff;
	box-shadow:0 2px 5px rgba(0,0,0,0.1);
	height: 46px;
	line-height: 46px;
	z-index: 1000;
  }

  .globalnav-container {
	width: 92.3%;
	max-width: 960px;
	margin: auto;
  }

  .globalnav-container .globalnav-item {
	margin-right: 49px;
	display: inline;
	padding: 2px;
  }

  .globalnav-container .globalnav-item:hover {
	border-bottom: 2px solid rgba(109, 192, 48, 0.7);
  }

  .sc-header-selected-home .globalnav-home-link,
  .sc-header-selected-geofilters .globalnav-geofilters-link,
  .sc-header-selected-live .globalnav-live-link,
  .sc-header-selected-snapcodes .globalnav-snapcodes-link,
  .sc-header-selected-ads .globalnav-ads-link,
  .sc-header-selected-download .globalnav-download-link {
	border-bottom: 2px solid rgb(38, 38, 38);
  }

  .globalnav-container .globalnav-link {
	color: rgb(38, 38, 38);
	font-weight: 200;
	text-decoration: none;
	line-height: 25px;
  }

  .globalnav-container .globalnav-ghost-icon-link {
	position: absolute;
	top: 9px;
  }

  .globalnav-container .globalnav-home-link {
	visibility: hidden;
  }

  .header-hamburger {
	display: none;
  }

  .sc-header-replace-ghost-home-with-text .globalnav-container .globalnav-ghost-icon-link {
	display: none;
  }
  .sc-header-replace-ghost-home-with-text .globalnav-container .globalnav-home-link {
	visibility: inherit;
  }
  .sc-header-white .header-container,
  .sc-header-white.header-container {
	background-color: white;
  }

  @media (min-width: 768px) {
	.sc-header-white .header-container,
	.sc-header-white.header-container {
	  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}
  }

  @media (max-width: 767px) {
	.globalnav-container {
	  position: absolute;
	  top: 46px;
	  width: 100%;
	  border-top: 1px solid #D4D4D4;
	  border-radius: 2px;
	  max-height: 0;
	  transition: max-height .25s ease-in-out;
	  overflow: hidden;
	}
	.globalnav-container .globalnav-ghost-icon-link {
	  display: none;
	}

	.hamburger-expanded .globalnav-container {
	  border-bottom: 1px solid #D4D4D4;
	  max-height: 285px;
	}

	.globalnav-container .globalnav-home-link {
	  visibility: inherit;
	}

	/* a hover selector to overwrite desktop hover hightlight */
	.globalnav-container .globalnav-item,
	.globalnav-container .globalnav-item:hover {
	  display: block;
	  width: 100%;
	  padding: 0;
	  text-align: right;
	  background-color: white;
	  border-bottom: 1px solid #F8F9FB;
	}

	.globalnav-container .globalnav-item:hover {
	  background-color: #F8F9FB;
	}

	.globalnav-container .globalnav-item .globalnav-link {
	  display: block;
	  padding-right: 13px;
	  line-height: 46px;
	}

	.sc-header-selected-home .globalnav-home-link,
	.sc-header-selected-geofilters .globalnav-geofilters-link,
	.sc-header-selected-live .globalnav-live-link,
	.sc-header-selected-snapcodes .globalnav-snapcodes-link,
	.sc-header-selected-ads .globalnav-ads-link,
	.sc-header-selected-download .globalnav-download-link {
	  background-color: #F8F9FB;
	}

	.header-hamburger {
	  display: block;
	  width: 20px;
	  height: 15px;
	  line-height: 15px;
	  position: relative;
	  top: 14px;
	  right: 15px;
	  float: right;
	  margin: 0;
	  transform: rotate(0deg);
	  cursor: pointer;
	}

	.header-hamburger span {
	  display: block;
	  position: absolute;
	  height: 2.5px;
	  width: 100%;
	  background: rgb(38, 38, 38);
	  box-sizing: border-box;
	  border-radius: 1px;
	  opacity: 1;
	  left: 0;
	  transform: rotate(0deg);
	  transition: .25s ease-in-out;
	  transition-property: transform, opacity;
	}

	.header-hamburger span:nth-child(1) {
	  top: 0px;
	  transform-origin: left center;
	}

	.header-hamburger span:nth-child(2) {
	  top: 6px;
	  transform-origin: left center;
	}

	.header-hamburger span:nth-child(3) {
	  top: 12px;
	  transform-origin: left center;
	}

	.hamburger-expanded .header-hamburger span:nth-child(1) {
	  transform: rotate(45deg) translateY(-1.5px);
	}

	.hamburger-expanded .header-hamburger span:nth-child(2) {
	  transform: scaleX(0);
	  opacity: 0;
	}

	.hamburger-expanded .header-hamburger span:nth-child(3) {
	  transform: rotate(-45deg) translateY(1px);
	}
  }
  
  
.mockup img {
	width:520px;
	height:590px;
}
.authForm {
	width:100%;
	background-color:#fff;
	padding:20px;
	box-shadow:0 2px 2px #eee;
	margin-bottom:10px;
}
.authForm button {
	background: #3897f0;
    border-color: #3897f0;
    color: #fff;
	border:none;
	padding:7px 20px 3px 20px;
	border-radius:3px;
	width:100%;
	font:normal 13px gg;
	margin:10px 0;
}
.authForm button i {
	padding-right:4px;
}
.authForm h1 {
	font:normal 50px gabriola;
	margin:0;
	padding:0;
}
.authForm p {
	padding:0;
	margin:0;
	font:normal 15px gg;
	color:#999;
	margin-bottom:10px;
}
.authForm .or {
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 10px 40px 18px;
	display:flex;
}
.or .orShort {
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    background-color: #c7c7c7;
    height: 1px;
    position: relative;
    top: .45em;
}
.or p {
	webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    margin: 0 18px;
	color: #999;
    font-weight: 600;
}
.authForm input {
	width:100%;
	margin-bottom:6px;
	border:solid 1px #ddd;
	border-radius:3px;
	padding:7px 10px;
	color:#959191;
}

@media (max-width: 982px ) {
	.mockup img {
		max-width:100%;
		height:auto;
	}
}
.authForm p.terms {
	font:lighter 14px calibri;
}
.authForm p.terms a {
	font:bold 14px calibri;
}
.authForm p.loginOption {
	font:lighter 14px calibri;
}
.authForm p.loginOption a {
	color:#87CB16;
}
.appearFooter {
	position:fixed;
	bottom:0;
	height:120px;
	width:100%;
	background-color:#fff;
	box-shadow:2px 0 5px #eee;
	display:none;
}
.appearFooter .close {
	top:45px;
	color:#bbb;
	position:relative;
	right:30px;
}
.appearFooter img {
	height:130px;
	width:100%;
}
.appearFooter p {
	padding:25px 0;
	color:#555;
	font:lighter 13px calibri;
}
.bg {
	position:absolute;
	background: url(/images/illustration-background.png), url(/images/diagonal-line2.png) #eee;
	bottom:0;
	top:0;
	left:0;
	right:0;
	opacity: .3;
}